# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env

# Large datasets
data/*.csv

# Databases
*.db
*.sqlite
*.sqlite3

# Large model files
*.pkl